html, body {
    position: absolute;
    height: 100%;   
    width: 100%; 
    margin: 0px;
    padding: 0px;
    background-color:#2C3E50;
    
}

#sitebody{
    
    height: 100%;   
    width: 100%; 
}

#header{
    font-size: 30px;
    font-family: DFKai-SB,Arial,Microsoft YaHei,黑體,宋體,sans-serif;
    height: 20%;
    width: 100%;
    text-align: center;
    line-height: 80px;
    background-color: #D0D0D0;
    z-index: 999;
}

#right_side{ 
    font-size: 25px;
    font-family: DFKai-SB,Arial,Microsoft YaHei,黑體,宋體,sans-serif;
    position: absolute;
    top: 20%;
    bottom: 0;   
    background-color: #2C3E50;
    
}



#myCanvas{
    position: absolute;
    top: 20%;
    background-color :white;
}

.btn{
    width: 45px;
    height: 45px;
    border: 0;
    background-color :white;
    cursor: pointer;
}

.inputfile{
    opacity: 0;
}

.upload {
    border: 1px solid #ccc;
    display: inline-block;
    background-image:url(./button_img/upload.png);
    cursor: pointer;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#picker {
    position: absolute;
    margin-left: 20%;
    width: 200px;
    height: 200px
}

#slide {
    position: absolute;
    margin-left: 10%;
    width: 30px;
    height: 200px
}

#pickerblock{
    margin-top: 10%;
    width: 300px;
    height: 250px;
    background-color:white;
    cursor: pointer;
}

#textbox{
    display:none;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1000;
}

.menu{
    position: relative;
    margin-left: 80px;
}